{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>EZ2 Task - Password Reset</title>
    <!-- Google action icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Favicon-->
            <link rel="icon" type="image/x-icon" href="{% static 'main_app/assets/favicon.ico' %}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'main_app/css/manage_users.css' %}" rel="stylesheet"/>
    <link href="{% static 'main_app/css/styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'main_app/css/my_styles.css' %}" rel="stylesheet"/>


</head>
<body style="background-image: url('{{ MEDIA_URL }}/media/bg_images/splash_bg.webp');
background-repeat: no-repeat;background-size: cover; background-attachment: fixed">

<div class="container border bg-light shadow mt-3 py-2">
    <form method="POST" autocomplete='off'>
        {% csrf_token %}
            <legend class="border-bottom mb-4">Reset Password</legend>
            {{ form|crispy}}
        <button class="btn btn-outline-secondary mt-2" type="submit">Request Password Reset</button>
        <button type="button" class="btn btn-outline-danger mt-2" onclick="history.back()">Cancel</button>
    </form>
</div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

